:root {
/* Color Theme Swatches in Hex */
    --mustard: #C2B634;
    --teal: #045266;
    --spicy-mustard: #66612A;
    --dark-magenta: #66112E;
    --dark-gray: #393637;
}
body {
    background-color: var(--dark-gray);
    color: var(--mustard);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
    margin-bottom: 5px; 
}

button {
    margin: 5px;
}

.p1 {
    padding: 24px;
}

.smf {
    font-size: xx-small;
}

p {
    color: var(--dark-magenta);
}
